%div{"ng-controller" => "MainCtrl"}
  %ul
    %li
      Any:
      %input{"ng-model" => "search.$"}
    %li
      Province Name:
      %input{"ng-model" => "search.prname"}
    %li
      CMA Name:
      %input{"ng-model" => "search.cmaname"}

  %div.well{"ng-repeat" => "tract in tracts | filter:search"}
    %p Census Tract UID: {{ tract.ctuid }}
    %p Province Name: {{ tract.prname }}
    %p CMA Name: {{ tract.cmaname }}
    %p Census Tract data: {{ tract.data }}
